/*Fuentes*/
@import url('https://fonts.googleapis.com/css?family=Butterfly+Kids&display=swap');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lakki+Reddy&display=swap');
@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap');
/*Fuentes*/

audio{
	float: right;
	width: 40%;
	margin-top: 15px;
}

#animacionBarra{
	font-size: 7em;
	color: #c046fe;
	text-align: center;
	float: left;
	top: -14.8%;
	position: absolute;
	transform-origin: center;
	animation: movimientoIndex 4s infinite linear;
}
@keyframes movimientoIndex{
	from{color:#c046fe;transform: translateX(0vw) rotate(-2turn)}
	25%,75%{color:#00ffff}
	50%{color:#fc3692;transform: translateX(52vw) rotate(2turn)}
	to{color:#c046fe;transform: translateX(0vw) rotate(-2turn)}
}

.menu{
	transition: all 0.2s linear;
}

.menu:hover{
	transform: scale(1.1);
}

#niño{
	opacity: 0;
	transition: all 0.6s ease;
}

#niño:hover{
	opacity: 1;
	transform: scale(1.1) rotate(1turn);
}

.navbar-nav > li{
  padding-left:50px;
  padding-right:50px;
}
.fila-imagenes > .col-3{
	margin-top: 30px;
}
.pagination{
	margin: 30px 0px;
}
body{
	background-image: url(img/fondoBg.png);
}
.niños{
	width: 300px;
	height: 190px;
}

picture{
	width: 100%;
}

.iconos{
	width:60px;
	padding-left: 5px;
	padding-right: 5px;
}

.iconos:hover{
	animation: tiembla 0.2s infinite linear;
}

@keyframes tiembla {
  0%  { transform:rotate(-3deg); }
  50% { transform:rotate( 0deg) scale(1.1); }
  100%{ transform:rotate( 3deg);}
}

.banner{
	margin-top: 15px;
	border: solid;
	border-radius: 5px;
}
.bannerPS4{
	width: 100%;
	height: 60%;
}
.titulo{
	text-align: center;
	margin-top: -85px;
	font-family: 'Permanent Marker', cursive;
}
.tituloReservas{
	text-align: center;
	margin: 15px 0 15px;
	font-family: 'Permanent Marker', cursive;
}

.tit{
	letter-spacing: 0px;
	transition: letter-spacing 0.3s;
}

.tit:hover{
	letter-spacing: 5px;
}

.card-body{
	font-family: 'Butterfly Kids', cursive;
	font-size: 20px;
}
.txtInicio{
	font-family: 'Permanent Marker', cursive;
}
.txtReservas{
	font-family: 'Luckiest Guy', cursive;
}
.texto-abajo,label{
	font-family: 'Righteous', cursive;
}
.carousel-caption{
	font-family: 'Lakki Reddy', cursive;
}
.tituloContacto{
	text-align: right;
}

/*Mediaquery para móviles*/
@media (min-width: 320px) and (max-width: 480px) {

audio{
	width: 100%;
}

.tituloContacto{
	text-align: center;
}
.titulo{
  	margin: -15px 0 15px;
  }
.iconos{
  	width: 28px;
  	padding: 0 2px;
  } 
.icono-abajo{
  	width: 80%;
  	height: 80%;
  }
.texto-abajo{
  	font-size: 10px;
  }
}

@media (max-width: 992px){audio{width: 100%}}
